[run]
branch = True
disable_warnings =
    module-not-imported
    no-data-collected
source =
    app
    main

[report]
fail_under = 100
show_missing = True
skip_covered = False
exclude_also =
    if __name__ == ["']__main__["']:
    if self\._shutdown_started:
